.coursePage {
    margin: 10px;
}

.imgCourse {
    width: 100px;
    height: auto;
}

.buttonAdd {
    width: 100px;
    height: 30px;
    margin-top: 10px;
}

.buttonAdd__invisible {
    composes: buttonAdd;

    display: none;
}