@font-face {
    font-family: "SingleDay";
    src: local('SingleDay'), local('SingleDay'), url(SingleDay.ttf);
}

@font-face {
    font-family: "Skellyman";
    src: local('Skellyman'), local('Skellyman'), url(Skellyman.ttf);
}

@font-face {
    font-family: "Montserrat Alternates";
    src: local('SMontserrat Alternates'), local('Montserrat Alternates'), url(MontserratAlternates.ttf);
}

body {
    margin: 0;
}

.containerMain {
    max-width: 90%;

    margin: 0px auto;

    text-align: center;

/*    background: #A099B8;*/
}



.multiple-filters {
    backdrop-filter: blur(20px) saturate(120%) contrast(200%);
}

@keyframes colorChange {
    from {
        background-position: top 0 left 33%;
        background-size: 400% 200%;

    }
    50% {
        background-position: top center;
        background-size: 200% 200%;
    }
    to {
        background-position: top 0 right 33%;
        background-size: 400% 200%;
    }
}
