.login {
    padding-top: 50px;
    text-align: center;
    height: 450px;
    width: 500px;
    border-radius: 20px;
/*    background-color: rgba(0, 0, 0, 0.5);*/
}

.loginInput {
    width: 370px;
    height: 40px;
    padding: 0.375rem 0.75rem;
    color: #211E1E;
    border-radius: 30px;
    margin-bottom: 20px;
    border-color: #94003E;
    box-shadow: 0px 8px 5px 0px #F0B0CF;
}

.homeButton {
    width: 170px;
    height: 35px;
    color: #211E1E;
    border-radius: 20px;
    margin-bottom: 20px;
    background: linear-gradient( to right, #F0B0CF, #94003E);
    border: none;
    box-shadow: 0px 4px 10px 0px #F0B0CF;

}

.finishButton {
    margin-top: 10px;
    margin-right: 10px;
    width: 170px;
    height: 35px;
    color: #211E1E;
    border-radius: 20px;
    margin-bottom: 20px;
    background: linear-gradient( to right, #F0B0CF, #94003E);
    border: none;
    box-shadow: 0px 4px 10px 0px #F0B0CF;
}

.finishButton:disabled {
    margin-top: 10px;
    margin-right: 10px;
    width: 170px;
    height: 35px;
    color: #211E1E;
    border-radius: 20px;
    margin-bottom: 20px;
    background: lightgray;
    border: none;
    box-shadow: 0px 4px 10px 0px dimgray;
}

/*
.finishButton:hover, enabled  {
    margin-top: 10px;
    margin-right: 10px;
    width: 180px;
    height: 40px;
    color: #211E1E;
    border-radius: 20px;
    margin-bottom: 20px;
    background: linear-gradient( to right, #F0B0CF, #94003E);
    border: none;
    box-shadow: 0px 4px 10px 0px #F0B0CF;
}
*/
