html {
    height: 150%;
    background:  linear-gradient(to bottom, white 30%, #B1B6D6);
}

body {
    text-align: center;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.loginInput {
    width: 370px;
    height: 45px;
    padding: 0.375rem 0.75rem;
    color: #211E1E;
    border-radius: 20px;
    margin-bottom: 20px;
    border-color: #94003E;
    box-shadow: 0px 8px 5px 0px #F0B0CF;
}