.container {
    width: auto;
    height: auto;

    background: transparent;
    box-shadow: 0px 5px 15px gray;

    padding: 10px;

    display: flex;
    align-items: center;
}

.name {
    font-family: "Montserrat Alternates";
    font-size: 25px;
}

.buttonToCourses {
    font-family: "Montserrat Alternates";
    font-size: 25px;
    color: #313F94;

    background: transparent;
    border: transparent;

    margin: 0px 10px;
}

.userImg {
    position: fixed;
    right: 10px;

    width: 40px;
    height: 40px;
    object-fit: cover;
}

.userImgInvisible {
    composes: userImg;

    display: none;
}