.userPhoto {
    max-width: 100%;
    height: auto;
    display: block;
}

.userIsActivated {
    font-size: 20px;
    font-family: "Montserrat Alternates";
    color: #AC5F75;
}

.userIsActivatedInvisible {
    composes: userIsActivated;

    display: none;
}

.divPhoto {
    width: 150px;
    height: auto;
    overflow: hidden;
    border-radius: 20px;
}

.text {
    font-size: 25px;
    font-weight: normal;
    margin-top: 5px;
    margin-bottom: 0;
    margin-right: 5px;
}

.divUserInfo {
    padding: 10px;
    margin-right: 10px;

    width: 150px;
    height: auto;

    text-align: center;
}

.redButton {
    width: 50px;
    height: 25px;
    background-color: white;
    border-radius: 15px;
    text-align: center;
    border: none;
    margin: 5px;
}

.homeButton {
    text-align: right;
}

.ulCourses {

}

.profile {
    display: inline-block;
    align-items: center;

    width: auto;
    height: auto;

    padding: 20px;
}

.info__container {
    display: flex;

    padding: 10px;
}

.lpl__container {
    width: auto;
    height: auto;

    display: flex;
}


