.login {
    height: 100vh;
    width: 100vw;

    background-color: rgba(0, 0, 0, 0.5);

    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
}

.active {
    composes: login;

    pointer-events: all;
    transition: 0.5s;
    opacity: 1;
}

.login__content {
    width: 500px;
    height: auto;

    padding: 20px;
    border-radius: 12px;
    background-color: white;

    transform: scale(0.5);
    transition: 0.4s all;
}

.login__contentActive {
    composes: login__content;

    transform: scale(1);
}

.inputDiv {
    display: inline-block;
}

.inputDivHidden {
    composes: inputDiv;
    visibility: hidden;
    display: none;
}

.loginInput {
    font-size: 15px;
    font-family: "Skellyman";
    color: black;
    font-weight: bold;

    width: 370px;
    height: 40px;

    padding: 0.375rem 0.75rem;
    margin-bottom: 20px;

    border-radius: 30px;
    border-color: #94003E;
    box-shadow: 0px 8px 5px 0px #F0B0CF;
}

.signButton {
    margin-top: 10px;
    margin-right: 10px;
    width: 170px;
    height: 35px;
    color: #211E1E;
    border-radius: 20px;
    margin-bottom: 20px;
    background: linear-gradient( to right, #F0B0CF, #94003E);
    border: none;
    box-shadow: 0px 4px 10px 0px #F0B0CF;
}

.changeButton {
    color: #94003E;
    font-size: 15px;
    font-weight: bold;
    background: transparent;
    border: none;
}

.error {
    color: red;
    width: auto;
    height: auto;
    font-size: 15px;
    margin-bottom: 10px;
}