.main__container {
    width: auto;
    height: auto;

    border: 2px solid #756C93;
    border-radius: 20px;

    padding: 20px;

    text-align: center;
}

.profile_information__container {
    border: 2px solid #756C93;
    border-radius: 20px;

    padding: 20px;
}

.button {
    width: auto;
    height: auto;

    font-size: 20px;
    font-family: "Montserrat Alternates";

    background: transparent;

    border: 2px solid #756C93;
    border-radius: 20px;

    padding: 7px;
    margin: 10px;
}

.button__container {
    width: auto;
    height: auto;

    text-align: center;
}

.text {
    font-size: 20px;
    font-family: "Montserrat Alternates";
}

.input__container {
    width: auto;
    height: auto;

    display: flex;
}

.input {
    font-size: 20px;
    font-family: "Montserrat Alternates";

    background: transparent;

    border: 2px solid #756C93;
    border-radius: 20px;

    padding: 7px;
    margin: 10px;
}

.img__container {
    width: auto;
    height: auto;

    text-align: center;

    display: flex;
    flex-direction: column;

    align-items: center;
}

.img {
    width: 200px;
    height: auto;
}

.error {
    font-size: 15px;
    color: red;
    font-family: "Montserrat Alternates";
    margin-bottom: 10px;
}

.input__file {
    background: transparent;
}

.file__upload {
    text-align: center;
    border: 3px dashed #756C93;
    margin-top: 5px;
    padding: 5px;
    position: relative;
    cursor: pointer;
}

.file__upload input {
    display: block;
    height: auto;
    width: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    cursor: pointer;
}