.main__container {
    margin: 10px;
    padding: 10px;

    width: 1300px;

    border: 2px solid #756C93;
    border-radius: 20px;
}

.profile_information__container {
    width: 500px;

}

.button {
    background: transparent;

    font-family: "Montserrat Alternates";
    font-size: 20px;

    border: #756C93 2px solid;
    border-radius: 20px;

    height: auto;
    width: 400px;
}

.button__container {
    background: transparent;

    display: inline-block;
    text-align: center;

    width: 400px;
    height: auto;

    margin: 10px;
}

.text {
    font-family: "Montserrat Alternates";
    font-size: 20px;
}

.img {
    width: 200px;
    height: auto;
}
